build
bin
Bin
obj
_ReSharper*
*.user
*.patch
*.hg
*.sln.cache
desktop.ini
*.ReSharper
*.orig
*.suo
*.itrace.csdef
*.build.csdef
packages
src/*.testsettings
src/TestResults
src/*.vsmdi
artifacts
*.vsp
project.lock.json
*.mdb
.vs/
.build/
.testPublish/ 
