<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>
      <property name="connection.connection_string">Data Source=Store.sdf</property>
      <property name="dialect">NHibernate.Dialect.MsSqlCe40Dialect</property>

      <!--<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider, NHibernate</property>
      <property name="connection.connection_string">Data Source=localhost;Initial Catalog=yesql;User ID=sa;Password=demo123!</property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="adonet.batch_size">30</property>-->
    </session-factory>
  </hibernate-configuration>

</configuration>